<a href="https://colab.research.google.com/github/Trinasust41/2025-HU-Data-Science-for-Social-Impact-Bootcamp/blob/main/Exit_Ticket_Print_and_DTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [42]:
# Create an object with a value of 2

firstVariable = 2

# Check the data types
print(type(firstVariable))

<class 'int'>

In [43]:
# Create an object with a value of 1086J
secondVariable = '1086J'

# Check the data type
print(type(secondVariable))

<class 'str'>

In [44]:
# Create an object with a value of 3.14567
thirdVariable = 3.14567

# Check the data type
print(type(thirdVariable))

<class 'float'>

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [45]:
# Printing your name
myName = "Trina Chakraborty"

# Check the results of the My_Name variable
print(myName)

Trina Chakraborty

In [46]:
# Check the data type of the My_Name variable
type(myName)

str

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [47]:
# Your turn to play around now.
# Use the input statement to ask a user to enter their name
# Syntax looks like this: descriptiveVariableName = input("Question to be asked? ")
userName = input("What is your name? ")

# Use a print statement to check your input. Add a greeting to your statement.
# Syntax looks like this: print("Greeting", descriptiveVariableName, "!")

print("Greeting", userName,"!")
# Now use a print statement to tell the user the data type.
# Syntax looks like this: print("Your name is a ",type(descriptiveVariableName))

print("Your name is a ",type(userName))

What is your name? Trina
Greeting Trina !
Your name is a  <class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [48]:
# Let's check how many characters does your name contain.
# Syntax: len(variableName)
len(myName)

17

In [49]:
# Let's see if My_Name is all Caps or not.
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
# Syntax: variableName.isupper()
myName.isupper()

False

In [50]:
# Let's convert My_Name to all caps.
# Syntax: variableName = variableName.upper()
myName = myName.upper()

# Call the variable using the variable name.

print(myName)

TRINA CHAKRABORTY

In [51]:
# Check the uppercase again,
# Now the output of isupper() changes to True.

myName.isupper()

True

In [52]:
# Your turn to try it now.
# Write a sentence and store it into an object.
# Don't forget quotation marks for strings
new_sentence = "i am attending a course"
# Use a print statement to view your new_sentence
print(new_sentence)
# Use the .upper() method in a print statement to print the upper case sentence
# HINT: Use a print statement, your variable name, and the .upper() method
new_sentence = new_sentence.upper()
print(new_sentence)

# Use the .capitalize() method to print the sentence with the first word capitalized.
new_sentence = new_sentence.capitalize()
print(new_sentence)

# Use the .title() method to print the sentence with the first letter of each word capitalized.

new_sentence = new_sentence.title()
print(new_sentence)

i am attending a course
I AM ATTENDING A COURSE
I am attending a course
I Am Attending A Course

In [53]:
# Check the data type of the object you just created.

print(type(new_sentence))

<class 'str'>

In [54]:
# Check if it is all caps or not.
# Syntax: variableName.isupper()
new_sentence.isupper()

False

In [55]:
# Challenge - Check if it is all lower case or not.
# Use the example above to complete the challenge question

new_sentence.islower()

False

In [56]:
# Challenge - Convert your object into all caps.

new_sentence= new_sentence.upper()
print(new_sentence)

I AM ATTENDING A COURSE

In [57]:
# Challenge - Convert your object into all lower case.
new_sentence = new_sentence.lower()
print(new_sentence)

i am attending a course

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [58]:
# Create two variables, one with a value of True, one with a value of False
variable1 = True
variable2 = False

In [59]:
# Check the data type of your variables.
print(type(variable1))
print(type(variable2))
# HINT: you can check multiple items by separating the statements with a comma

print(type(variable1),type(variable2))

<class 'bool'>
<class 'bool'>
<class 'bool'> <class 'bool'>

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [60]:
# Create an object containing an integer.
objValue = 12

In [61]:
# Check the data type of your new object
type(objValue)

int

In [62]:
# You want to use the value 1 as text. So let's convert it.
# Syntax: variableName = str(variableName)
objValue = str(objValue)

In [63]:
# Check the data type of your new object again.
type(objValue)

str

In [64]:
# Exercise for you. Store the number 123456 as string.
strValue = '123456'
# Check the data type

type(strValue)

str

In [65]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
# HINT: Any value inside of quotes is a string

objValue2 = '12'
# Check the data type of your variable

type(objValue2)

str

In [66]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)
objValue2 = int(objValue2)

# Check the data type
type(objValue2)

int

In [67]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)
objValue3 = '12.34'
objValue3 = float(objValue3)
# Check the data type
type(objValue3)

float

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.

In [68]:
# Convert string to boolean
string_value = "True"
print(type(string_value))
bool_value = bool(string_value)
print(bool_value)
print(type(bool_value))

<class 'str'>
True
<class 'bool'>

In [69]:
# Convert boolean to string
bool_value = True
print(type(bool_value))
string_value = str(bool_value)
print(string_value)
print(type(string_value))

<class 'bool'>
True
<class 'str'>

In [70]:
#int to float
num = 5
float_val = float(num)
print(float_val)
print(type(float_val))

5.0
<class 'float'>

In [71]:
#float to int
float_num = 5.9
int_val = int(float_num)
print(int_val)
print(type(int_val))

5
<class 'int'>